<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /~jojc24/dbwebb-kurser/mvc/me/report/public/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L]
</IfModule>