{% extends 'base.html.twig' %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <h1>Redovisning</h1>

    <section id="kmom01">
        <h2>Kmom01</h2>
        <p>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.
           Jag har studerat det innan i .Net och C# utbildningen jag gick för 2 år sedan, jag 
           känner mig lite hemma i detta även om jag verkligen inte kommer ihåg allt, då jobbade vi i Core 
           om jag inte mins helt fel.

Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?
Jag brukar tänka att en klass är en ritning och mall för olika objekt som har detaljerade egenskaper. klassiskt
är en bil som är en klass och man skapar olika modeller som objekt tex en volvo som är grön men manuell låda.

Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?
Jag tycker den är bra och eftersom jag har jobbat i .Net core förut så är det skönt att känna igen sig lite dock 
har jag aldrig jobbat i Symfony.

Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? 
Är det några särskilda områden som du känner att du vill veta mer om? 
Jag tycker att delen med Composer var bra men mest för att jag förstod mer vad jag gjort för fel i ett annat projekt jag 
exprementerat i. Sen fanns det ju såklart hur mycket matnyttigt som helst och jag önskade främst att kurserna inte gick
så himmla fort för det är sällan jag hinner läsa allt med min dyslexi och även om jag tänker att jag ska gå tillbaka 
och läsa så har jag hittills inte hunnit det tyvärr, hade velat fördjupa mig mer i Autoloading bla.
Lyft fram några delar av artikeln som du känner mer värdefulla.

Vilken är din TIL för detta kmom?
Min TIL är nog ännu ett steg i att få ihop små mindre delar till en större förståelse, i kurserna innan har det varit en aha i
de små sakerna men nu tycker jag att jag ser en helhet i olika hjälpmedel, verktyg, ramverk, terminaler mm för att faktiskt få ihop 
en relativt fungerande webbaplikation i sin helhet, eller också olika arbetssätt, för mig är det super coolt och faktiskt en förhoppning varför
 jag sökte den här utbildningen 🤩
</p>
    </section>

    <section id="kmom02">
        <h2>Kmom02</h2>
        <p>Redovisningstext...</p>
    </section>

    <section id="kmom03">
        <h2>Kmom03</h2>
        <p>Redovisningstext...</p>
    </section>

    <section id="kmom04">
        <h2>Kmom04</h2>
        <p>Redovisningstext...</p>
    </section>

    <section id="kmom05">
        <h2>Kmom05</h2>
        <p>Redovisningstext...</p>
    </section>

    <section id="kmom06">
        <h2>Kmom06</h2>
        <p>Redovisningstext...</p>
    </section>
{% endblock %}
