{% extends 'base.html.twig' %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <h1>Redovisning</h1>

    <section id="kmom01">
        <h2>Kmom01</h2>
        <p>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.
           Jag har studerat det innan i .Net och C# utbildningen jag gick för 2 år sedan, jag 
           känner mig lite hemma i detta även om jag verkligen inte kommer ihåg allt, då jobbade vi i Core 
           om jag inte mins helt fel.

Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?
Jag brukar tänka att en klass är en ritning och mall för olika objekt som har detaljerade egenskaper. klassiskt
är en bil som är en klass och man skapar olika modeller som objekt tex en volvo som är grön men manuell låda.

Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?
Jag tycker den är bra och eftersom jag har jobbat i .Net core förut så är det skönt att känna igen sig lite dock 
har jag aldrig jobbat i Symfony.

Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? 
Är det några särskilda områden som du känner att du vill veta mer om? 
Jag tycker att delen med Composer var bra men mest för att jag förstod mer vad jag gjort för fel i ett annat projekt jag 
exprementerat i. Sen fanns det ju såklart hur mycket matnyttigt som helst och jag önskade främst att kurserna inte gick
så himmla fort för det är sällan jag hinner läsa allt med min dyslexi och även om jag tänker att jag ska gå tillbaka 
och läsa så har jag hittills inte hunnit det tyvärr, hade velat fördjupa mig mer i Autoloading bla.
Lyft fram några delar av artikeln som du känner mer värdefulla.

Vilken är din TIL för detta kmom?
Min TIL är nog ännu ett steg i att få ihop små mindre delar till en större förståelse, i kurserna innan har det varit en aha i
de små sakerna men nu tycker jag att jag ser en helhet i olika hjälpmedel, verktyg, ramverk, terminaler mm för att faktiskt få ihop 
en relativt fungerande webbaplikation i sin helhet, eller också olika arbetssätt, för mig är det super coolt och faktiskt en förhoppning varför
 jag sökte den här utbildningen 🤩
</p>
    </section>

    <section id="kmom02">
        <h2>Kmom02</h2>
        <p>Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.
        Arv - En klass bygger vidare på en annan och återanvänder dess funktioner.
        Komposition - En klass innehåller andra objekt.
        Interface - Ett kontrakt som säger vilka metoder en klass måste ha.
        Trait - Ett sätt att dela kod mellan flera klasser utan att använda arv.

        Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken 
        förbättringspotential ser du i din koden och dina klasser?
        Jag skapade klasser för kort, kortlek och hand. Kortleken sparas i sessionen så att den minskar när 
        man drar kort. 
        Jag byggde sidor för att visa, blanda och dra kort samt JSON-routes.
        Det fungerar, men jag har känt att mycket krånglat med publiceringen. Jag är nöjd att det fungerar, men koden kan säkert bli 
        renare och mer genomtänkt.

        Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?
        Jag har läst MVC förut så detta är inget nytt för mig, tråkigt att jag krånglat mycket med annat runt
        om, rättning mm.
        Vilken är din TIL för detta kmom?
         Jag har ingen TIL direkt i detta moment, det har krånglat mycket bla med rättningen samt publiceringen. 
         Nya tag i kmom03</p>
    </section>

    <section id="kmom03">
        <h2>Kmom03</h2>
        <p>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. 
        Var det något som du tror stödjer dig i din problemlösning och tankearbete för att
         strukturera koden kring en applikation?
         Svar: Jag har ju läst några år nu så jag vet inte om detta egentligen hjälper mig.
         Men absolut blir det såklart väldigt tydligt.

        Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, 
        vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?

        Svar: Min lösning blev ganska enkel, och det var medvetet. Mitt mål är att hålla det 
        till det som krävdes och inte bygga för mycket extra, jag återanvände de klasser jag redan
        hade och byggde vidare på dem istället för att börja om, vilket kändes skönt.
        Det har varit lite rörigt för mig eftersom jag jobbar med flera kurser samtidigt
        och hoppar mellan olika saker hela tiden. Det gör att jag ibland glömmer hur jag tänkt
        eller vad jag gjort tidigare, och då tar det tid att komma tillbaka in i det igen.
        Men när jag väl satt mig ner och fokuserade på att göra klart hela delen så gick det ändå bra.

        Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?
        Svar: Att det är väldigt enkelt och smidigt!

        Vilken är din TIL för detta kmom?
        Svar: Gör klart en sak i taget.. 🙈
        </p>
    </section>

    <section id="kmom04">
        <h2>Kmom04</h2>
        <p>Berätta hur du upplevde att skriva kod som testar annan kod med PHPUnit och hur du upplever phpunit rent allmänt.
        Svar: Jag är fortfarande i det stadiet när det känns som att man behöver koda extra mycket bara, med så små projekt
        kan jag inte helt se meningen med test. Har gjort detta förut också så känns bra.

        Hur väl lyckades du med kodtäckningen av din kod, lyckades du nå mer än 90% kodtäckning?
        Svar: Ja, jag lyckades nå över 90% kodtäckning. Till slut fick jag 100% på mina modellklasser. 
        Det gick helt ok.

        Upplever du din egen kod som “testbar kod” eller finns det delar i koden som är mer eller mindre testbar och finns
        det saker som kan göras för att förbättra kodens testbarhet?
        Svar:Jag tycker att min kod är ganska testbar, speciellt modellklasserna. De är ganska enkla och har tydliga metoder 
        som är lätta att testa. Controllers är svårare att testa. Man kan förbättra testbarheten genom att hålla koden enkel
        och inte blanda för mycket logik i samma klass tänker jag.

        Valde du att skriva om delar av din kod för att förbättra den eller göra den mer testbar, om så berätta lite hur du tänkte.
        Svar: Ja, jag gjorde små ändringar, egentligen bara förenklade jag vissa metoder, eftersom jag visste vad jag skulle 
        göra så gjorde jag koden ganska "clean" från början.

        Fundera över om du anser att testbar kod är något som kan identifiera “snygg och ren kod”.
        Svar: Ja det tycker jag. Kod som är lätt att testa är oftast tydlig och uppdelad på ett bra sätt, är det svårt att
        testa något så är det ofta ett tecken på att koden är för rörig eller gör för mycket på en gång tänker jag.

        Vilken är din TIL för detta kmom?
        Svar: Min TIL denna kmom är att jag har ändå ganska stor kunskap, jag har haft ganska dåligt självförtroende 
        inom utveckling och programmering men jag börjar känna mig mer och mer som en utvecklare. Coolt, riktigt coolt faktiskt🤩</p>
    </section>

    <section id="kmom05">
        <h2>Kmom05</h2>
        <p>Det gick bra att arbeta med övningen och kursmomentet, men Doctrine var nytt för mig så jag behövde ta det steg för steg
         för att förstå hur allt hängde ihop. Jag förstår Doctrine som ett verktyg i Symfony som hjälper till att 
         koppla ihop webbapplikationen med databasen på ett enklare sätt. Istället för att skriva så mycket SQL själv 
         kan man arbeta mer med vanliga klasser i PHP och låta Doctrine sköta saker bakgrunden. Det kändes ovant i 
         början eftersom jag tidigare arbetat mer direkt mot databaser, men förstod det till sist.
         Jag byggde en biblioteksapplikation där man kan lägga till, visa, ändra och ta bort böcker. 
         Varje bok innehåller titel, ISBN, författare och bild. Jag försökte hålla sidan enkel och tydlig Jag har lite 
         tidspress så jag sattsar mer på funktionalitet och att uppfylla krav än design.
         Att arbeta med ORM i CRUD-delen fungerade bra när jag kom in i det. Tidigare har jag arbetat mer direkt 
         med databaser och SQL, där man själv skriver frågor och kommandon. Med Doctrine blir det ett annat arbetssätt
        där man jobbar mer med objekt i koden istället. Jag ser absolut fördelen med detta men när man är van en sak är det såklart lättast tills man vänjer sig med det nya.
        Min TIL är, kul att lära sig något nytt.</p>
    </section>

    <section id="kmom06">
        <h2>Kmom06</h2>
        <p>Redovisningstext...</p>
    </section>
{% endblock %}
