{% extends 'base.html.twig' %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <h1>Redovisning</h1>

    <section id="kmom01">
        <h2>Kmom01</h2>
        <p>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.
           Jag har studerat det innan i .Net och C# utbildningen jag gick för 2 år sedan, jag 
           känner mig lite hemma i detta även om jag verkligen inte kommer ihåg allt, då jobbade vi i Core 
           om jag inte mins helt fel.

Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?
Jag brukar tänka att en klass är en ritning och mall för olika objekt som har detaljerade egenskaper. klassiskt
är en bil som är en klass och man skapar olika modeller som objekt tex en volvo som är grön men manuell låda.

Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?
Jag tycker den är bra och eftersom jag har jobbat i .Net core förut så är det skönt att känna igen sig lite dock 
har jag aldrig jobbat i Symfony.

Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? 
Är det några särskilda områden som du känner att du vill veta mer om? 
Jag tycker att delen med Composer var bra men mest för att jag förstod mer vad jag gjort för fel i ett annat projekt jag 
exprementerat i. Sen fanns det ju såklart hur mycket matnyttigt som helst och jag önskade främst att kurserna inte gick
så himmla fort för det är sällan jag hinner läsa allt med min dyslexi och även om jag tänker att jag ska gå tillbaka 
och läsa så har jag hittills inte hunnit det tyvärr, hade velat fördjupa mig mer i Autoloading bla.
Lyft fram några delar av artikeln som du känner mer värdefulla.

Vilken är din TIL för detta kmom?
Min TIL är nog ännu ett steg i att få ihop små mindre delar till en större förståelse, i kurserna innan har det varit en aha i
de små sakerna men nu tycker jag att jag ser en helhet i olika hjälpmedel, verktyg, ramverk, terminaler mm för att faktiskt få ihop 
en relativt fungerande webbaplikation i sin helhet, eller också olika arbetssätt, för mig är det super coolt och faktiskt en förhoppning varför
 jag sökte den här utbildningen 🤩
</p>
    </section>

    <section id="kmom02">
        <h2>Kmom02</h2>
        <p>Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.
        Arv - En klass bygger vidare på en annan och återanvänder dess funktioner.
        Komposition - En klass innehåller andra objekt.
        Interface - Ett kontrakt som säger vilka metoder en klass måste ha.
        Trait - Ett sätt att dela kod mellan flera klasser utan att använda arv.

        Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken 
        förbättringspotential ser du i din koden och dina klasser?
        Jag skapade klasser för kort, kortlek och hand. Kortleken sparas i sessionen så att den minskar när 
        man drar kort. 
        Jag byggde sidor för att visa, blanda och dra kort samt JSON-routes.
        Det fungerar, men jag har känt att mycket krånglat med publiceringen. Jag är nöjd att det fungerar, men koden kan säkert bli 
        renare och mer genomtänkt.

        Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?
        Jag har läst MVC förut så detta är inget nytt för mig, tråkigt att jag krånglat mycket med annat runt
        om, rättning mm.
        Vilken är din TIL för detta kmom?
         Jag har ingen TIL direkt i detta moment, det har krånglat mycket bla med rättningen samt publiceringen. 
         Nya tag i kmom03</p>
    </section>

    <section id="kmom03">
        <h2>Kmom03</h2>
        <p>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. 
        Var det något som du tror stödjer dig i din problemlösning och tankearbete för att
         strukturera koden kring en applikation?
         Svar: Jag har ju läst några år nu så jag vet inte om detta egentligen hjälper mig.
         Men absolut blir det såklart väldigt tydligt.

        Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, 
        vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?

        Svar: Min lösning blev ganska enkel, och det var medvetet. Mitt mål är att hålla det 
        till det som krävdes och inte bygga för mycket extra, jag återanvände de klasser jag redan
        hade och byggde vidare på dem istället för att börja om, vilket kändes skönt.
        Det har varit lite rörigt för mig eftersom jag jobbar med flera kurser samtidigt
        och hoppar mellan olika saker hela tiden. Det gör att jag ibland glömmer hur jag tänkt
        eller vad jag gjort tidigare, och då tar det tid att komma tillbaka in i det igen.
        Men när jag väl satt mig ner och fokuserade på att göra klart hela delen så gick det ändå bra.

        Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?
        Svar: Att det är väldigt enkelt och smidigt!

        Vilken är din TIL för detta kmom?
        Svar: Gör klart en sak i taget.. 🙈
        </p>
    </section>

    <section id="kmom04">
        <h2>Kmom04</h2>
        <p>Berätta hur du upplevde att skriva kod som testar annan kod med PHPUnit och hur du upplever phpunit rent allmänt.
        Svar: Jag är fortfarande i det stadiet när det känns som att man behöver koda extra mycket bara, med så små projekt
        kan jag inte helt se meningen med test. Har gjort detta förut också så känns bra.

        Hur väl lyckades du med kodtäckningen av din kod, lyckades du nå mer än 90% kodtäckning?
        Svar: Ja, jag lyckades nå över 90% kodtäckning. Till slut fick jag 100% på mina modellklasser. 
        Det gick helt ok.

        Upplever du din egen kod som “testbar kod” eller finns det delar i koden som är mer eller mindre testbar och finns
        det saker som kan göras för att förbättra kodens testbarhet?
        Svar:Jag tycker att min kod är ganska testbar, speciellt modellklasserna. De är ganska enkla och har tydliga metoder 
        som är lätta att testa. Controllers är svårare att testa. Man kan förbättra testbarheten genom att hålla koden enkel
        och inte blanda för mycket logik i samma klass tänker jag.

        Valde du att skriva om delar av din kod för att förbättra den eller göra den mer testbar, om så berätta lite hur du tänkte.
        Svar: Ja, jag gjorde små ändringar, egentligen bara förenklade jag vissa metoder, eftersom jag visste vad jag skulle 
        göra så gjorde jag koden ganska "clean" från början.

        Fundera över om du anser att testbar kod är något som kan identifiera “snygg och ren kod”.
        Svar: Ja det tycker jag. Kod som är lätt att testa är oftast tydlig och uppdelad på ett bra sätt, är det svårt att
        testa något så är det ofta ett tecken på att koden är för rörig eller gör för mycket på en gång tänker jag.

        Vilken är din TIL för detta kmom?
        Svar: Min TIL denna kmom är att jag har ändå ganska stor kunskap, jag har haft ganska dåligt självförtroende 
        inom utveckling och programmering men jag börjar känna mig mer och mer som en utvecklare. Coolt, riktigt coolt faktiskt🤩</p>
    </section>

    <section id="kmom05">
        <h2>Kmom05</h2>
        <p>Det gick bra att arbeta med övningen och kursmomentet, men Doctrine var nytt för mig så jag behövde ta det steg för steg
         för att förstå hur allt hängde ihop. Jag förstår Doctrine som ett verktyg i Symfony som hjälper till att 
         koppla ihop webbapplikationen med databasen på ett enklare sätt. Istället för att skriva så mycket SQL själv 
         kan man arbeta mer med vanliga klasser i PHP och låta Doctrine sköta saker bakgrunden. Det kändes ovant i 
         början eftersom jag tidigare arbetat mer direkt mot databaser, men förstod det till sist.
         Jag byggde en biblioteksapplikation där man kan lägga till, visa, ändra och ta bort böcker. 
         Varje bok innehåller titel, ISBN, författare och bild. Jag försökte hålla sidan enkel och tydlig Jag har lite 
         tidspress så jag sattsar mer på funktionalitet och att uppfylla krav än design.
         Att arbeta med ORM i CRUD-delen fungerade bra när jag kom in i det. Tidigare har jag arbetat mer direkt 
         med databaser och SQL, där man själv skriver frågor och kommandon. Med Doctrine blir det ett annat arbetssätt
        där man jobbar mer med objekt i koden istället. Jag ser absolut fördelen med detta men när man är van en sak är det såklart lättast tills man vänjer sig med det nya.
        Min TIL är, kul att lära sig något nytt.</p>
    </section>

    <section id="kmom06">
        <h2>Kmom06</h2>
        <p><p>
        Jag upplevde faktiskt att det här momentet blev ganska rörigt. Verktygen som PhpMetrics och Scrutinizer 
        ger mycket information, men efersom det strulat en hel del för mig i detta kursmoment har jag svårt att 
        se den direkta nyttan. Det känns som att man får väldigt många mätvärden utan att det alltid är tydligt
        vad man konkret ska göra med dem.
        Jag tänker att den här typen av verktyg har större effekt i större projekt, där många utvecklare jobbar 
        tillsammans kanske och där det finns mer komplex kod att analysera. I mitt projekt blev det mer som en
        övning i att förstå verktygen än att faktiskt förbättra koden på ett avgörande sätt.
        Samtidigt ser jag värdet i att få en överblick av kodens struktur, till exempel genom att se komplexitet 
        och kopplingar mellan klasser. Det kan fungera som ett stöd för att upptäcka problem tidigt, även om det 
        i detta fall kändes mer som ett extra lager ovanpå en redan fungerande kodbas.
        
        Min egen syn på kodkvalitet är att det inte bara handlar om siffror. Jag tycker det är svårt att säga att kod är “bra” 
        bara för att den har fina värden i olika metrics. För mig är det viktigare att koden är tydlig, går att förstå och att man
        enkelt kan jobba vidare med den. I mitt fall tycker jag att min kod är helt okej och fungerar som den ska, men mycket av fokus
        i det här momentet hamnade tyvärr på att få verktygen att fungera istället för att faktiskt förbättra koden, i alla fall för min del.
        Jag upplevde också hela momentet som ganska rörigt efersom det var många olika verktyg, många steg och saker som inte fungerade som de skulle, 
        särskilt med Scrutinizer, det gjorde att jag ibland tappade fokus på själva uppgiften och behövde gå igeom kraven flera ggr och ta flera
        pauser, iblend på några dagar och sen fortsätta.

        Min TIL i detta moment är att jag har lärt mig hur man använder PhpMetrics och Scrutinizer och hur man kan få fram olika mätvärden för kodkvalitet. 
        Jag har också lärt mig att problem i CI-verktyg ofta inte beror på koden utan på miljön, vilket var tydligt i mitt fall.
        Men viktigast som alltid i denna utbildning, hur krångligt och svårt det än är så reder jag ut det i slutändan och det är precis det som gör att 
        man blir en bra utvecklare tror jag.🤩
        </p></p>
    </section>
    <section id="kmom10">
    <h2>Kmom10  Projekt</h2>

    <h3>Krav 1-3: Webbplats</h3>
    <p>
        Jag har implementerat grundkraven 1-3 genom att skapa en separat projektdel under <code>/proj</code>.
        Projektet heter Climate Dashboard och handlar om hållbar utveckling med fokus på klimatförändringar och mål 13 i Agenda 2030.
        Jag har lagt till länken Projekt i den vanliga navbaren på report-sidan så att landningssidan går att nå därifrån.
        För att projektdelen skulle kännas som en egen webbplats skapade jag en egen stylesheet, <code>proj.css</code>, med en tydlig grön/blå färgskala och färgblock inspirerade av de globala målen.
        Startsidan innehåller en hero-sektion, informationsrutor och en enkel visualisering av exempeldata för växthusgasutsläpp.
        Jag har också skapat en separat projekt-navbar som bara innehåller länkar inom projektet, alltså Climate Dashboard och Om projektet.
        Under <code>/proj/about</code> finns en kort introduktion som beskriver projektets syfte, fokus och varför jag valt ämnet.
        Jag har även uppdaterat README, kört tester, genererat phpdoc och uppdaterat metrics så att repo och dokumentation är aktuella.
    </p>

    <h3>Ej implementerade optionella krav</h3>
    <p>
        Jag har valt att inte implementera krav 4, 5 och 6.
        De kraven är optionella och jag valde att fokusera på att göra grundkraven enbart eftersom jag avslutar kurser från år 1.
    </p>

    <h3>Genomförande av projektet</h3>
    <p>
        Projektet var faktiskt roligt att göra, särskilt när designen började falla på plats och sidan fick en egen känsla.
        Jag blev nöjd med att den inte bara ser ut som ännu en report-sida, utan faktiskt känns som en liten egen webbplats och
        denna har verkligen min egna prägel i designen. Jag har märkt att det är som med konstnärer, alla har sin egen stil.
        Det som var enklast var att skapa routes och templates, eftersom det är sådant vi jobbat med flera gånger under kursen.
        Det som tog mest tid var att förstå exakt hur projektkraven skulle tolkas och hur mycket som egentligen behövde göras för att uppfylla dem.
        Jag valde därför att hålla projektet ganska avgränsat och inte bygga in databas eller externa API:er.
        För mig var det viktigaste att få ihop en fungerande helhet med tydlig struktur, egen design och innehåll som passar projektidén.
        Jag tycker att projektet var en rimlig avslutning på kursen, eftersom det knöt ihop routing, templates, CSS, dokumentation, tester och publicering.
        Det blev också extra kul eftersom jag själv arbetar med beslutsstöd och visualisering i mitt jobb, så temat kändes relevant på riktigt, skoj, helt kalart🤩.
    </p>

    <h3>Tankar om kursen</h3>
    <p>
        Kursen som helhet har varit lärorik, men jag tycker också att den har innehållit mycket krångel med saker runt omkring själva kodandet.
        Jag har absolut lärt mig saker i kursen, men mycket har jag också läst innan i andra utbildningar och fristående kurser,
        men det är alltid något nytt man får med sig, vilket jag älskar!
        Samtidigt har vissa moment tagit väldigt mycket energi, särskilt när det handlat om verktyg, tester och Scrutinizer som inte fungerat som förväntat.
        Då blir det ibland svårt att se vinningen med verktygen, eftersom de mer känns som nya problem och fler buggar att lösa än som hjälp i själva utvecklingen.
        Jag förstår såklart att man lär sig mycket av fel och problem, och det är ofta där kunskapen fastnar bäst.
        Men när för mycket tid går åt till strul runt miljöer, CI och verktyg så tappar man också lite energi och fokus från själva programmeringen.
        Att nöta in ett nytt ramverk och nya arbetssätt är en sak, men att lägga väldigt mycket tid på problem runtomkring är inte alltid så roligt.
        Jag tycker ändå att kursen har gett mig en starkare grund och gjort mig tryggare i att bygga webbapplikationer med ett riktigt ramverk.
        Jag skulle rekommendera kursen, men jag hade gärna sett ännu tydligare steg-för-steg-stöd i de moment där många externa verktyg används, eller så är det jag
        som missat en del av kursmaterialet, dels för min dyslexi men också för en del tidspress, dock vet jag att jag hinner klart med år 1 vilket känns fantastiskt!.
        På en skala 1-10 ger jag kursen en 8, eftersom innehållet är bra och användbart, även om vägen dit ibland varit onödigt rörig.
    </p>
</section>
{% endblock %}
