{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <p>Jag heter Johanna Johansson och detta är min me-sida för MVC-kursen.</p>
    <img src="{{ asset('img/jag.jpg') }}" alt="Min profilbild" style="max-width: 300px; border-radius: 8px;">
{% endblock %}
